body{

    background-color: rgb(233, 245, 241);
}

.headerlogo{
    height: 70px;
    display: flex;
    align-items: center;
   padding: 5px;
   border-bottom: 1px solid gray;
}
.headerlogo em{
  font-style: italic;    
}
.headerlogo a{
    text-decoration: none;
    color: rgb(19, 18, 18);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30px;
}
.headerlogo a:hover{
    cursor: pointer;
   
}

.capsulesinfosec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    
}

.capsuledata {
    
    height: 300px;
    width: 400px;
    /* border: 2px solid black; */
    padding: 10px;
}
.capsuledata h1{
    font-size: 44px;
    font-weight: bold;
    padding: 5px;
    color: rgb(19, 18, 18);
}
.capsuledata p{
    padding: 5px;
    color: rgb(19, 18, 18);
    font-size: 20px;
}

.capimg img{
    height: 430px;
    width: 420px;
    margin-left: 25px;
    border-radius: 15px;
}


/*search bar*/
.searchcapsule {
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    height: 55px;
    width: 100%;
    /* border: 1px solid black; */
    padding: 5px;
}

.searchcapsule p{
    font-size: 20px;
    margin-top: 9px;
}
.searchcapsule input{
  height: 45px;
  width: 450px;
  text-align: center;
  /* padding: 10px; */
  font-size: 15px;
  border-radius: 9px;
  font-size: 20px;
  background-color: #fff;
  /* border-bottom: 2px solid black; */
}
.searchcapsule input:hover{
    cursor: pointer;
    
}

.searchcapsule button{
    height: 45px;
  width: 250px;
  text-align: center;
  font-size: 15px;
  border-radius: 9px;
  font-size: 20px;
  border-style: none;
  background-color: #fff;
 border: 1px solid black;
}
.searchcapsule button:hover{
    cursor: pointer;
}

/* Card design */

.Capsulecards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.capsuleInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 203, 203);
    height: 220px;
    width: 45%;
    margin: 15px;
    border-radius: 5px;
}


.fcol {
  border-right: 2px solid rgb(233, 245, 241);
  height: 80px;
  
  width: 205px;
  color: rgb(19, 18, 18);
}
.fcol h3{
    font-size: 25px;
    text-align: center;
}
.fcol p{
 font-size: 17px;
 padding: 3px;
}

.scol{
  border-right: 2px solid rgb(233, 245, 241);
  height: 80px;
  padding: 10px;
  width: 200px;
}
.subheading{
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    /* padding: 5px; */
}

.tcol{
    width: 200px;
    padding: 10px;
}

/* Nav Button */

.Navbtn button{
        height: 45px;
      width: 250px;
      text-align: center;
      font-size: 15px;
      border-radius: 9px;
      font-size: 20px;
      border-style: none;
      background-color: #fff;
     border: 1px solid black;
}

.Navbtn:hover{
    cursor: pointer;
}